<app-main-nav></app-main-nav>
<router-outlet></router-outlet>
<app-main-footer></app-main-footer>


<!--
<div class="container-fluid">
  <div class="row" >
    <div class="col-md-11 offset-md-1">

  </div>
</div>
</div> -->
<!-- <div id="headtop"></div>
<div class="container-fluid">
  <div class="row" >
    <div class="col-12 col-md-11 offset-md-1">
    <router-outlet></router-outlet>
 </div>
</div>
</div>
<app-main-footer></app-main-footer> -->
<!-- <div class="container-fluid">
  <div class="row" >
    <div class="col-md-11 offset-md-1">
testar
  </div>
</div>
</div> -->

