

<div class="d-flex flex-column h-100 footer-top">

  <!-- FOR DEMO PURPOSE -->
  <section class="hero text-white py-5 flex-grow-1">
      <div class="container py-4">
          <div class="row">
              <div class="col-lg-6">
                <img class="img-fluid logo regionlogoFooter d-none d-md-block" height="45px"  src="../../../../assets/images/VGR_Logga_vit_2103.png" alt="Västra Götalandsregionen">

                     </div>
          </div>
      </div>
  </section>


  <!-- FOOTER -->
  <footer class="footer py-4 flex-shrink-0">
      <div class="container py-4">
        <hr>
          <div class="row gy-4 gx-5">
              <div class="col-lg-3 col-md-6">
                <h3>Postadress</h3>
                        Vänerparken 13
                        <br>
                        462 35 Vänersborg
              </div>
              <div class="col-lg-3 col-md-6">
                <h3>Besöksadress</h3>
                Bergslagsgatan 2<br>
                411 04 Göteborg
              </div>
              <div class="col-lg-3 col-md-6">
                <h3>Telefon</h3>
                031 333 51 00 (växel)
              </div>
              <div class="col-lg-3 col-md-6">
                <h3>E-post</h3>
                <a href="mailto:yvonne.jagersjo@vgregion.se">yvonne.jagersjo@vgregion.se</a>
              </div>
          </div>
          <div class="row">
            <div class="col-12">{{devversion}}</div>
          </div>
      </div>

  </footer>
</div>

<!-- footer End -->

<!-- Back-to-Top start -->
<!-- <div id="back-to-top">
  <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
</div> -->
<!-- Back-to-Top end -->
<app-scroll-to-top></app-scroll-to-top>
