.footer{
  margin-top: 2rem;
  padding-top: 2rem;
  background-color: #323333;
  color: #fff;
  h3{
    font-size: 1.2rem;
  }
  a{color:#fff}
}
.footer-top{
  background-color: #323333;
}
.regionlogoFooter{
  max-width: 300px;
}
