.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
  background-color: #212529;
  border-radius: 10px;
  .btn{
    color: #fff;
  }
 }

 .show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
  z-index: 99999;
 }
