/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Roboto&display=swap');
// @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('assets/css/font-awesome-4.7.0/css/font-awesome.min.css');
// @import "~bootstrap/scss/bootstrap.scss";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import 'assets/css/froala_blocks.css';
@import 'assets/css/style';
@import 'assets/css/responsive';
.gen-btn-container{
  float: right;

}

.carousel-arrow{
  width: 50px!important;
  height: 50px!important;
  // background-color: transparent;
  color:#fff;
  background-repeat: no-repeat;
   background-size: 44px!important;
  background-position: 50%;
  // border-radius: 20px!important;
  position: absolute;
  top: 34%!important;
  margin-top: -40px!important;
  z-index: 10;

  }

  .carousel-cells .carousel-cell img, .carousel-cells .carousel-cell video {
    height: 55% !important;
    object-fit: cover!important;
}

.carousel-arrow-prev.carousel-arrow-disabled{
    display: none;
}

carousel{
  .carousel-cell {
    a{color:#fff;}

    img:hover {
      transition: 250ms all;
      transform: scale(1.0);
    }
  }
}

.textwrapper{
  position: absolute;
  bottom:0rem;
  left:0rem;
  background-color: rgba(0,0,0,.0);
  width: 100%;
  padding-left:0rem;
  font-size: normal;
  height: 45%;
  font-weight: 100;

  h2{
    padding-top: 1rem;
    text-align: left;
     font-size: 1.4rem;

  }
  h3{
    padding-top: 0;
    text-align: left;
     font-size: 1.1rem;
  }
}

.linkbox{
  margin-top: 4rem;
  a{color:#000;}
}

.cc-banner.cc-bottom {

  z-index: 99999!important;
}


.carousel-cells .carousel-cell img, .ajmax-row-height img{


  height:226px!important; // använd bilder med 16:9 ratio (https://calculateaspectratio.com/)
}

.gen-info-contain{
  h3{
    line-height: 18px;
  }
   p{
    line-height: 28px;
    font-size: 1.1rem;
    margin:0;
    padding:0;
    padding-bottom:.5rem;
  }
  .gen-movie-meta-holder{
    p{
      font-size: .9rem;

    }
  }
}
.gen-movie-img, .gen-post-media{
  background-color:#323333; // #343a40;
  border-radius:6px;
   img{
    border-radius: 6px;
  }
}

// Sections bakgrundsfärger

.aj-section-bg-color-dark{
  background-color:#565656;
  // background-color:#464e57;
}
.aj-section-bg-color-darker{
  // background-color:#343a40;
  background-color:#494949;
}

.aj-section-bgimg-color-darker{
  background-position: center bottom;
  background-repeat: no-repeat;
  // background-color:#343a40;
  background-color:#565656;
  background-image: url('/assets/images/Bakgrund_top_flat.jpg');
}

.gen-blog-post .gen-blog-contain {
  background-color: #fff;
  color:#000;
  h1{
    color:#000;
    font-size: 3rem;
  }
  h2{
    margin-top:2rem;
    color:#222;
    font-size: 1.8rem;
    font-weight: 500;
  }
  h3{

    color:#000;
    font-size: 1.8rem;
  }
  .gen-post-meta{
    ul{
      margin-bottom: .5rem;
      .gen-post-author{
        font-size: 1.8rem;
        font-weight: 300;
      }
    }
  }
  .granska_innehall{
    margin-top: 4rem;
    font-size: 1.2rem;
  }
  .arrExempellist{
    list-style:none;
    margin-left: 0;
    padding-left: 0;

    .card{ border:0px;}
  }
  .comment-reply-title{
    margin-top:2rem;
    margin-bottom:1rem;
  }
}

.autocomplete-container .suggestions-container {
  // margin-top: 40px;
}
@media (max-width:1023px) {
  .navbar-collapse:not(.show)  {
    display: none!important;
  }
}
.ng-autocomplete{
  width: 100% !important;
}

.kk_aj_title {
  font-size: 20px;
  font-style: normal;
  line-height: 28px;
}

.input-group .btn {
  border: 0.125rem solid transparent;
}
.input-group-text {
  line-height: 1.6;
}
.form-check-inline .form-check-input {
  margin-top: 0.5rem;
}

.infotext{
  background: #365361;
  color: #fff;
  padding: .5rem;
  line-height: 1.2rem;
  margin-top: 0rem;
}
.is-AJinvalid{
  border: 1px solid red;
}

carousel .carousel-cell a{
  text-decoration: none !important;
}
.cc-animate.cc-revoke.cc-bottom{
  z-index: 99999!important;
}

.fdb-block{
  p{
    color:#fff
  }
}
.gen-carousel-movies-style-2 {
  a{
    color:#fff;
    text-decoration:none;
  }
  // &hover{

  // }
}
.spinner-border {
  width: 1.5rem;
  height: 1.5rem;
}

 .gen-movie-img{
min-height: 225px;
}


/* Text Elements */

h1.production-heading {
  color:#212529;
  margin-bottom: 8px;
  padding-bottom: 0;
  font-weight: 700;
  font-size: 32px;
}

h2.performer-heading {
  color:#212529;
  font-weight: 400;
  font-size: 20px;
}

h3.sub-heading {
  color:#212529;
  font-weight: 600;
  font-size: 20px;
}

h4.fact-main-heading {
  color:#212529;
  display: block;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
}

h4.more-heading {
  color:#212529;
  display: block;
  margin-bottom: 0;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
}

p.paragraph.fact-heading {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 14px;
}

p.paragraph.fact-info {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 14px;
}

p.paragraph.ingress {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 20px;
}

p.paragraph span.paragraph-bold-heading {
  font-weight: 700;
  font-size: 1.125rem;
}

p.paragraph.main-text {
  margin-top: 16px;
}

p.paragraph.credit-text {
  margin-bottom: 0;
  font-size: 12px;
}

/* Interaction Elements */

a.link-button.btn {
  border-width: 0;
  border-style: none;
  border-radius: 0;
  color: #565656;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

a.link-button.btn:hover {
  color: #9d9d9d;
}

/* Layout Elements */

body.body-1 {
  background-color: #565656;
}

.container-grid.wrap-main {
  position: static;
  display: block;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: start;
  -ms-flex-align: stretch;
  margin-right: auto;
  margin-left: auto;
  min-height: 100px;
  max-width: 1020px;
  width: 96%;
  // background-image: url('./assets/images/Bakgrund_right_flat.jpg');
  // background-attachment: scroll;
  // background-position: right center;
  // background-clip: border-box;
  // background-origin: padding-box;
  // background-size: auto 60%;
  // background-repeat: no-repeat;

  // -webkit-flex-wrap: nowrap;
  //     -ms-flex-wrap: nowrap;
  //         flex-wrap: nowrap;
  // background-blend-mode: normal;
  // -webkit-box-orient: horizontal;
  // -webkit-box-direction: normal;
  //    -moz-box-orient: horizontal;
  //    -moz-box-direction: normal;
  // -webkit-box-pack: start;
  // -webkit-justify-content: flex-start;
  //    -moz-box-pack: start;
  //         justify-content: flex-start;
  // -webkit-align-content: flex-start;
  // -ms-flex-line-pack: start;
  //         align-content: flex-start;
  // -webkit-box-align: stretch;
  // -webkit-align-items: stretch;
  //    -moz-box-align: stretch;
  //         align-items: stretch;
}

.container-grid.container-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
  margin-bottom: 40px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
}

.container-grid.container-2 {
  margin-right: 0;
  margin-bottom: 10px;
  min-width: 100%;
  min-height: auto;
  max-width: 672px;
  max-height: 100%;
  width: 100%;
  height: auto;
}

.container-grid.wrap-facts {
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: start;
  -ms-flex-align: start;
  margin-bottom: 10px;
  padding: 10px;
  min-width: 320px;
  max-width: 100%;
  border-radius: 20px;
  background-color: #f3f1e4;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
}

div.responsive-video.video-platform-1 {
  width: 100%;
  background-color:#323333;
}

.container-grid.wrap-text-main {
  padding: 20px 30px 30px;
  min-height: 100px;
  width: 100%;
  height: auto;
  border-bottom-right-radius: 22px 20px;
  border-bottom-left-radius: 22px 20px;
  background-color: #fff;
}

.container-grid.container-4 {
  min-width: 30%;
  min-height: auto;
  max-width: 30%;
  text-align: right;
}

.container-grid.container-5 {
  min-width: 68%;
  min-height: auto;
  max-width: 68%;
}

.container-grid.wrap-single-fact {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: justify;
  margin-bottom: 0;
  min-width: 100%;
  min-height: auto;
  max-width: 100%;
  width: 100%;
  text-align: left;

  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
}

.container-grid.fact-header-big {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  -ms-flex-align: start;
  min-width: 100%;
  max-width: 100%;
  text-align: left;

  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container-grid.container-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin-right: 0;
  margin-left: 0;
  padding-right: 10px;
  padding-left: 10px;
  min-width: 40%;
  max-width: 40%;
  background-color: #9692a9;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.container-grid.container-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: justify;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 10px;
  min-width: 58%;
  max-width: 58%;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
}

div.responsive-video.video-platform-2 {
  width: 100%;
}

.container-grid.wrap-more-video {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: justify;
  margin-top: 15px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  min-height: auto;
  background-color: #d2cde4;

  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
}

.container-grid.container-6 {
  padding-right: 5px;
}

.container-grid.wrap-more-picture {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: justify;
  margin-top: 15px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  min-height: auto;
  background-color: #b6c5a0;

  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
}

.container-grid.container-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin-right: 0;
  margin-left: 0;
  padding-right: 10px;
  padding-left: 10px;
  min-width: 40%;
  max-width: 40%;
  background-color: #818b71;

  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

a.responsive-picture.picture-link-1 {
  background-image: url('./assets/images/1.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto 100%;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

.container-grid.container-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: start;
  margin-bottom: 10px;
  padding-right: 0;
  padding-left: 0;
  min-width: 100%;
  min-height: 40px;
  max-width: 100%;
  max-height: 40px;
  width: 100%;
  border-radius: 0;
  background-color: #fff;

  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 36rem) {
  .container-grid.container-1 {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
  }

  .container-grid.container-2 {
    max-width: none;
  }
}

@media screen and (min-width: 42.5rem) {
  .container-grid.wrap-facts {
    margin-right: 0.3rem;
    padding-right: 10px;
    padding-left: 10px;
    // min-width: 49.4%;
    // max-width: 49.4%;
  }

  .container-grid.container-5 {
    min-width: 48%;
    max-width: 48%;
  }

  .container-grid.container-4 {
    min-width: 48%;
    max-width: 48%;
  }

  .container-grid.container-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: justify;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  .container-grid.container-7 {
    -ms-flex-pack: center;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container-grid.container-9 {
    -ms-flex-pack: center;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container-grid.container-1 {
    margin-top: 15px;
  }
}

@media screen and (min-width: 48rem) {
  .container-grid.container-1 {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 40px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
  }

  .container-grid.container-2 {
    min-width: 0;
  }

  .container-grid.container-3 {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: start;
    margin-left: 10px;
    max-width: 320px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
            justify-content: flex-start;
  }

  .container-grid.wrap-facts {
    min-width: 320px;
    max-width: none;
  }

  .container-grid.container-7 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .container-grid.container-9 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (min-width: 62rem) {
  .container-grid.container-1 {
    min-height: auto;
  }

  .container-grid.container-3 {
    margin-right: 0;
    min-width: 320px;
  }

  .container-grid.container-2 {
    max-height: none;
  }

  .container-grid.container-7 {
    -ms-flex-pack: center;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container-grid.container-9 {
    -ms-flex-pack: center;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 75rem) {
  /* Text Elements */

  h1.production-heading {
    font-weight: 600;
    font-size: 32px;
  }

  p.paragraph.ingress {
    display: block;
    text-transform: none;
    font-weight: 400;
    font-size: 20px;
  }

  p.paragraph span.paragraph-bold-heading {
    font-weight: 700;
    font-size: 1.125rem;
  }

  .container-grid.container-3 {
    margin-left: 10px;
  }
}
.container-grid {
  &.wrap-text-main{
    p{
      color: #000 !important;
    };
  };
  &.wrap-text-mer{
    p{
      color: #000 !important;
    };
    a{
      text-decoration: none;
    }

  };
  &.wrap-facts{
    color: #000 !important;
  }
}

ul.ngx-pagination{
  color:#fff;
  a{

    &:hover{
      background-color:#7e9d8e!important;
    }
  }
  button{
    &:hover{
    background-color:#7e9d8e!important;
    }
  }
  .current{
    background-color: #fe6655;
  }
}



.container-grid.wrap-text-mer {
  padding: 15px 10px 25px;
  min-height: 100px;
  width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px 22px;
  border-bottom-left-radius: 20px 22px;
  background-color: #fff;
}

.container-grid.container-1.mer {
  margin-top: 0;

  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.container-grid.mer-invisible.wrap-facts {
  max-height: none;
  background-color: transparent;
}

h2.more-heading {
  margin-top: 30px;
  color: #fff;
  font-size: 28px;
}
.gen-button span{
  color:#fff;
}

.ajfavoritIconRing{
  border:1px solid #ddd;
  background-color: #7e9d8e;
  padding:4px;
  border-radius: 20px;
  color:#fff;
  &:hover{
    color: #7e9d8e;
    background-color: #fff;
  }
  &.fa-check{
    background-color: #fe6655;
    &:hover{
      color: #fe6655;
      background-color: #fff;
    }
  }

}
.gen-carousel-movies-style-2 .gen-movie-add {
  top: 180px;
}
.form-control{
  appearance:auto;
}

.logotext{
  text-transform: capitalize;
}

.fact-ovrigt{
  margin-left:10px;
}

.gen-movie-info{
  a{
    cursor: pointer;
  }
}
.nav-favo_mobil{
    max-width: 24px;
  }

.Nav-Favo{
  height:24px;
  width: 24px;
  margin-top: 70%;
  margin-bottom: 4px;
  background-image:url(./assets/img/icons8-basket-24.png);
  &:hover{
    background-image:url(./assets/img/icons8-basket-24_invert.png);
  }
  &.hasItems{
    &:hover{
      background-image:url(./assets/img/icons8-paid-24_invert.png);
    }
    background-image:url(./assets/img/icons8-paid-24.png);
  }
}

.btn-outline-Search{
  cursor: unset!important;
  &:hover{
    color: #ebbf9b!important;
  }
}

.navbar-expand-lg {
  .navbar-collapse {
     flex-basis:100% !important;
  }
}
@media screen and (max-width:415px){
  .gen-carousel-movies-style-2 {
  width: 98%;
  }
  .topblockContainer{padding: 1rem!important;}
}
@media screen and (max-width:400px){
  .gen-carousel-movies-style-2 {
  width: 94%;
  }
  .topblockContainer{padding: 1rem!important;}
}
@media screen and (max-width:376px){
  .gen-carousel-movies-style-2 {
  width: 84%;
  }
  .topblockContainer{padding: 1rem!important;}
}
@media screen and (max-width:300px){
  .gen-carousel-movies-style-2 {
  width: 68%;}
  .topblockContainer{padding: .5rem!important;}
}

