

   <!-- blog single -->
   <section class="gen-section-padding-3 aj-section-bgimg-color-dark pb-0">

    <div class="container-grid wrap-main">
      <div class="container-grid container-1">
        <div class="container-grid container-2">
          <div class="responsive-video video-platform-1 youtube" >
            <img
                class="granska_pressentationsbild"
                [src]="'https://www.kulturkatalogenvast.org/Portals/0/kulturkatalogenArrImages/'
                + detailpage[0]?.ansokningMediaImage.MediaUrl"
                alt="{{detailpage[0]?.ansokningtitle}}" loading="lazy" />
          </div>
          <div class="container-grid wrap-text-main">
            <div class="rule">
              <hr>
            </div>
            <h2 class="performer-heading">{{ detailpage[0]?.ansokningtitle }}</h2>
            <div class="rule">
              <hr>
            </div>
            <h1 class="production-heading">{{ detailpage[0]?.ansokningutovare }}</h1>
            <h3 class="sub-heading"*ngIf="detailpage[0]?.ansokningsubtitle">
              {{ detailpage[0]?.ansokningsubtitle }}</h3>
             <p class="paragraph main-text" *ngIf="detailpage[0]?.ansokningContent" [innerHTML]="detailpage[0]?.ansokningContent | unescape"></p>
            <div class="rule">
              <hr>
            </div>
            <div *ngIf="detailpage[0]?.ansokningMedialist != ''">
              <h4 class="more-heading">Smakprov</h4>
              <div *ngFor="let item of detailpage[0]?.ansokningMedialist">
                  <app-mediaexempel [MediaExempelblock]="item"></app-mediaexempel>
              </div>

            </div>
          </div>
        </div>
        <div class="container-grid container-3" >
          <app-fakta [faktablock]="detailpage[0]?.ansokningFaktalist"></app-fakta>
          <app-kontakt [Kontaktblock]="detailpage[0]"></app-kontakt>
        </div>
      </div>
    </div>
</section>

<!-- owl-carousel Videos Section-1 Start -->
<!-- <section id="gotoCat4" class="gen-section-padding-2 aj-section-bg-color-darker" >
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6">
          <h4 class="gen-heading-title">Mer från oss</h4>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">

      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <div class="gen-style-2">
          <app-aj-carousel-block (changeDetailId)="changeDetail($event)" [CaruselData]=caruselData(4)></app-aj-carousel-block>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- owl-carousel Videos Section-1 End -->

<section class="gen-section-padding-3 aj-section-bg-color-dark pt-0">
  <div class="container-grid wrap-main">
    <h2 class="more-heading">Mer från oss</h2>
        <div class="container-grid container-1 mer">
          <div class="container-grid container-2">
            <div class="container-grid wrap-text-mer">
              <a href="#">
                <div class="container-grid wrap-more-picture more">
                    <div class="container-grid container-9 more">
                      <div class="responsive-picture picture-link-1">
                        <picture>
                          <img alt="Placeholder Picture" width="418" height="340" src="./1.png" loading="lazy">
                        </picture>
                      </div>
                    </div>
                    <div class="container-grid container-8">
                      <div class="container-grid container-6">
                        <h4 class="more-heading">Prova på att ligga på spikmatta!</h4>
                        <p class="paragraph">Inte helt bekvämt.</p>
                      </div>
                      <p class="paragraph credit-text">Bild: Anders Andersson</p>
                    </div>
                </div>
              </a>
              <a href="#">
                <div class="container-grid wrap-more-picture more">
                  <div class="container-grid container-9 more"><a href="#" class="responsive-picture picture-link-1">
                      <picture>
                        <img alt="Placeholder Picture" width="418" height="340" src="./1.png" loading="lazy">
                      </picture>
                    </a></div>
                  <div class="container-grid container-8">
                    <div class="container-grid container-6">
                      <h4 class="more-heading">Prova på att ligga på spikmatta!</h4>
                      <p class="paragraph">Inte helt bekvämt.</p>
                    </div>
                    <p class="paragraph credit-text">Bild: Anders Andersson</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="container-grid container-3">
            <div class="container-grid wrap-facts mer-invisible"></div>
          </div>
        </div>
  </div>
</section>
<!--  -->
<!-- blog single -->


<!-- Section-1 Start -->

  <!-- Section-1 End -->
