  <!-- blog single -->
   <section class="gen-section-padding-3 aj-section-bgimg-color-dark pb-0">
    <div class="container-grid wrap-main">
      <div class="container-grid container-1">
        <div class="container-grid container-2">
          <div class="responsive-video video-platform-1 youtube text-center" >
            <img *ngIf="detailpage[0]?.ansokningMediaImage.MediaUrl"
                class="granska_pressentationsbild"
                [src]="'https://www.kulturkatalogenvast.org/Portals/0/kulturkatalogenArrImages/'
                + detailpage[0]?.ansokningMediaImage.MediaUrl"
                alt="{{detailpage[0]?.ansokningtitle}}" loading="lazy" />
          </div>
          <div class="container-grid wrap-text-main">
            <div class="rule">
              <hr>
            </div>
            <h2 class="performer-heading">{{ detailpage[0]?.ansokningutovare }}</h2>
            <div class="rule">
              <hr>
            </div>
            <h1 class="production-heading">{{ detailpage[0]?.ansokningtitle }}</h1>
            <h3 class="sub-heading"*ngIf="detailpage[0]?.ansokningsubtitle">
              {{ detailpage[0]?.ansokningsubtitle }}</h3>
             <p class="paragraph main-text" *ngIf="detailpage[0]?.ansokningContent" [innerHTML]="detailpage[0]?.ansokningContent | unescape"></p>
            <div class="rule">
              <hr>
            </div>
            <div *ngIf="detailpage[0]?.ansokningMedialist != ''">
              <h4 class="more-heading">Smakprov</h4>
              <div *ngFor="let item of detailpage[0]?.ansokningMedialist">
                  <app-mediaexempel [MediaExempelblock]="item"></app-mediaexempel>
              </div>

            </div>
          </div>
        </div>
        <div class="container-grid container-3" >
          <app-fakta [faktablock]="detailpage[0]?.ansokningFaktalist"></app-fakta>
          <app-kontakt [Kontaktblock]="detailpage[0]"></app-kontakt>
        </div>
      </div>
    </div>
</section>
<!-- owl-carousel Videos Section-1 Start -->
<section id="gotoCat4" class="gen-section-padding-2 aj-section-bg-color-darker" >
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6">
          <h4 class="gen-heading-title">Mer från oss</h4>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <div class="gen-style-2" >
          <ng-container *ngIf="detailpage[0]?.ansokningUtovarid>0">
            <app-aj-carousel-block (changeDetailId)="changeDetail($event)" [CaruselData]="caruselData(detailpage[0].ansokningUtovarid)"></app-aj-carousel-block>
          </ng-container>
      </div>
      </div>
    </div>
  </div>
</section>
