
<section  class="py-5 bg-image-full aj-section-bgimg-color-darker" >
  <!-- Features section-->
    <div class="container my-5">
        <div class="row gx-3">

          <!-- <ng-container *ngIf="spinner">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-5 mb-lg-0 ">
              <div class="topblockContainer blockcolor1 text-center" style="height:300px;">
                <i class="fa fa-spinner fa-spin fa-4x"></i>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-5 mb-lg-0 ">
              <div class="topblockContainer blockcolor2 text-center" style="height:300px;">
                <i class="fa fa-spinner fa-spin fa-4x"></i>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-5 mb-lg-0 ">
              <div class="topblockContainer blockcolor1 text-center" style="height:300px;">
                <i class="fa fa-spinner fa-spin fa-4x"></i>
              </div>
            </div>
        </ng-container> -->

          <ng-container *ngFor="let itm of starttest | async; let i = index" >
            <ng-container *ngIf="itm.typ=='StartTopBlock'">
              <div  class="col-12 col-sm-12 col-lg-4 mb-5 mb-lg-0 " [ngClass]="i==2 ? 'col-md-12' :  'col-md-6'">

                <div class="topblockContainer" [ngClass]="itm.content[0].metaClass=='blockcolor2' ? 'blockcolor2' :  'blockcolor1'">

                  <h2 class="h2">{{itm.content[0].rubrik}}</h2>
                  <div [innerHtml]="itm.content[0].content"></div>

                  <a *ngIf="itm.content[0].linkUrl" [routerLink]="itm.content[0].linkUrl" title="{{itm.content[0].linkText}}" class="gen-button gen-button-flat">
                    <span class="text">{{itm.content[0].linkText}}</span>
                  </a>

                </div>

              </div>
          </ng-container>
        </ng-container>


      </div>
    </div>
</section>


<div *ngFor="let itm of starttest | async; let i = index; ">

<!-- owl-carousel Videos Section-1 Start -->
<ng-container *ngIf="itm.typ== 'ListBlock'">
  <section  id="gotoCat{{itm.content[0].genArrList}}" class="gen-section-padding-2" [ngClass]="itm.content[0].metaClass == 'Darker' ? 'aj-section-bg-color-darker' : 'aj-section-bg-color-dark'"  >

    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
            <h4 class="gen-heading-title">{{itm.content[0].rubrik}}</h4>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
            <div class="gen-movie-action">
              <div class="gen-btn-container text-right">
                  <a routerLink="/lista/{{itm.content[0].genArrList}}" class="gen-button gen-button-flat">
                    <span class="text">Se alla</span>
                  </a>
              </div>
            </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <div class="gen-style-2">
            <app-kkaj-carusel
              [CaruselData]=caruselData(itm.content[0].genArrListTyp,itm.content[0].genArrList)>
            </app-kkaj-carusel>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<!-- owl-carousel Videos Section-1 End -->

<!-- owl-carousel Videos Section-1 Start -->
<ng-container *ngIf="itm.typ== 'ListValBlock'">
  <section  id="gotoCat{{itm.content[0].genArrList}}" class="gen-section-padding-2" [ngClass]="itm.content[0].metaClass == 'Darker' ? 'aj-section-bg-color-darker' : 'aj-section-bg-color-dark'"  >
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
            <h4 class="gen-heading-title">{{itm.content[0].rubrik}}</h4>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 d-none d-md-inline-block">
            <div class="gen-movie-action">
              <div class="gen-btn-container text-right">
                  <a routerLink="/lista/{{itm.content[0].genArrList}}" class="gen-button gen-button-flat">
                    <span class="text">Se alla</span>
                  </a>
              </div>
            </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <div class="gen-style-2">
            <app-kkaj-carusel
              [CaruselData]=caruselData(itm.content[0].genArrListTyp,itm.content[0].genArrList)>
            </app-kkaj-carusel>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<!-- owl-carousel Videos Section-1 End -->

<!-- Foala calltoaction 14-->
<ng-container *ngIf="itm.typ == 'Text_Bild_2col'">
<section  class="fdb-block py-0  gen-section-padding-2" [ngClass]="itm.content[0].metaClass == 'Darker' ? 'aj-section-bg-color-darker' : 'aj-section-bg-color-dark'">
  <div class="container bg-r py-5 my-5" [ngStyle]="{ 'background-image' : (itm.content[0].bild1Url) ? 'url(' + itm.content[0].bild1Url + ')' : '' }">
    <div class="row py-5">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-left">
        <h1>{{itm.content[0].rubrik}}</h1>
        <div [innerHtml]="itm.content[0].content" class="lead">
        </div>
        <p *ngIf="itm.bild2Url" class="mt-4">
          <a *ngIf="itm.content[0].linkUrl" [routerLink]="itm.content[0].linkUrl" title="{{itm.content[0].linkText}}" class="gen-button gen-button-flat">
            <span class="text">{{itm.content[0].linkText}}</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
</ng-container>
</div>

<!-- Contents 16
<section class="fdb-block gen-section-padding-2 aj-section-bg-color-dark">
  <div class="col-fill-right d-none d-md-block " style="background-image: url(https://kulturkatalogenvast.org/Portals/0/kulturkatalogenArrImages/3700_01_mars2030_low-res.jpg);">
  </div>

  <div class="container py-5">
    <div class="row">
      <div class="col-12 col-md-5 text-center">
        <h1>Froala Blocks</h1>
        <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        <p class="mt-4 mb-5"><a class="btn btn-secondary" href="https://froala.com/design-blocks/">Button</a></p>

        <p>Follow us on</p>
        <p>
          <a href="https://froala.com/design-blocks/" class="mx-2 text-secondary"><i class="fab fa-twitter" aria-hidden="true"></i></a>
          <a href="https://froala.com/design-blocks/" class="mx-2 text-secondary"><i class="fab fa-facebook" aria-hidden="true"></i></a>
          <a href="https://froala.com/design-blocks/" class="mx-2 text-secondary"><i class="fab fa-instagram" aria-hidden="true"></i></a>
          <a href="https://froala.com/design-blocks/" class="mx-2 text-secondary"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
          <a href="https://froala.com/design-blocks/" class="mx-2 text-secondary"><i class="fab fa-google" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
  </div>
</section> -->


<!-- owl-carousel Videos Section-1 End -->
