<section class="py-5 bg-image-full" style="background-position: right bottom; background-repeat: no-repeat; background-color:#343a40; background-image: url('../../assets/images/kulturkatalog_flowers_small.png')">
  <!-- Features section-->
    <div class="container my-5">
        <div class="row gx-3">
          <div class="col-md-4 mb-5 mb-lg-0 ">
            <div class="topblockContainer">
              <h2 class="h4 fw-bolder">Välkommen!</h2>
          <p>I Kulturkatalogen Väst finns ett brett utbud av professionell scenkonst, workshops, projekt, skolbiofilmer och besöksmål. Massor att välja på för dig som är kultursamordnare, pedagog, fritidsledare, föreningsaktiv eller annan kulturarrangör i Västra Götaland.
          </p><p>Allt är riktat till barn och unga, allt är kvalitetssäkrat och allt omfattas av det regionala arrangörsstödet.</p>
            </div>
          </div>
            <div class="col-md-4 mb-5 mb-lg-0 ">
              <div class="topblockContainer">
                <h2 class="h4 fw-bolder">Sök i katalogen</h2>
                <p>Här kan du söka bland alla fina kultur- och naturaktiviteter i Kulturkatalogen Väst</p>
                <a href="tv-shows-pagination.html" class="gen-button gen-button-flat">
                  <span class="text">BÖRJA SÖKA HÄR!</span>
               </a>
              </div>
            </div>
            <!-- <div class="col-md-4 mb-5 mb-lg-0 fronttopimg" style="background-size: cover; background-image: url('https://kulturkatalogenvast.org/Portals/0/kulturkatalogenArrImages/2904_DSC03164 beskuren.jpg')">
              <div class="topblockContainerImg">
                <h2 class="h4 fw-bolder">Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <a class="text-decoration-none" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div> -->
            <div class="col-md-4 mb-5 mb-lg-0 fronttopimg" style="background-size: cover; background-image: url('https://kulturkatalogenvast.org/Portals/0/kulturkatalogenArrImages/2745_Humbug.jpeg')">
              <div class="topblockContainerImg">
                <h2 class="h4 fw-bolder">Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <a class="text-decoration-none" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
        </div>
    </div>

</section>

<app-kkaj-carusel
  [CaruselData]="{
    cmdTyp: 'search',
    arrTypID: 0,
    konstartID: 0,
    startYear: 0,
    stoppYear: 6
  }"
>
</app-kkaj-carusel>

<app-kkaj-carusel
  [CaruselData]="{
    cmdTyp: 'search',
    arrTypID: 0,
    konstartID: 0,
    startYear: 6,
    stoppYear: 12
  }"
>
</app-kkaj-carusel>

<section class=" bg-image-full" style="background-position: right bottom; background-repeat: no-repeat; background-color:#343a40;">
  <!-- Features section-->
    <div class="container my-5">
        <div class="row gx-3">
          <h2 class="h4 fw-bolder">Välkommen!</h2>
          <p>I Kulturkatalogen Väst finns ett brett utbud av professionell scenkonst, workshops, projekt, skolbiofilmer och besöksmål. Massor att välja på för dig som är kultursamordnare, pedagog, fritidsledare, föreningsaktiv eller annan kulturarrangör i Västra Götaland.
            Allt är riktat till barn och unga, allt är kvalitetssäkrat och allt omfattas av det regionala arrangörsstödet.</p>
          <a class="text-decoration-none" href="#!">
              Call to action
              <i class="bi bi-arrow-right"></i>
          </a>
            <div class="col-md-4 mb-5 mb-lg-0 fronttopimg gx-3" style="background-size: cover; background-image: url('https://kulturkatalogenvast.org/Portals/0/kulturkatalogenArrImages/2904_DSC03164 beskuren.jpg')">
              <div class="topblockContainerImg">
                <h2 class="h4 fw-bolder">Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <a class="text-decoration-none" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
            <div class="col-md-8 mb-5 mb-lg-0 ">
              <div class="topblockContainer">
                <h2 class="h4 fw-bolder">Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
              </div>
            </div>
        </div>
    </div>

</section>

<app-kkaj-carusel
  [CaruselData]="{
    cmdTyp: 'search',
    arrTypID: 0,
    konstartID: 0,
    startYear: 12,
    stoppYear: 16
  }"
>
</app-kkaj-carusel>
