.topblockContainer{
  background-color: #687d74d6;
  border-radius: 10px;
  padding:2rem;
  height: 100%;
}
.topblockContainerImg{
  background-color: rgba(0, 0, 0, 0.603);
  border-radius: 10px;
  padding:1rem;
  margin:1rem;
  height: auto;
}
.fronttopimg{
  border-radius: 10px;
}
