<app-kkaj-carusel [CaruselData] = "{
                      'cmdTyp': 'search',
                      'arrTypID': 0,
                      'konstartID': 0,
                      'startYear':0,
                      'stoppYear': 6
                    }">
</app-kkaj-carusel>

<app-kkaj-carusel [CaruselData] = "{
  'cmdTyp': 'search',
  'arrTypID': 0,
  'konstartID': 0,
  'startYear':6,
  'stoppYear': 12
}">
</app-kkaj-carusel>

<app-kkaj-carusel [CaruselData] = "{
  'cmdTyp': 'search',
  'arrTypID': 0,
  'konstartID': 0,
  'startYear':12,
  'stoppYear': 16
}">
</app-kkaj-carusel>


