<section class="pt-5 pb-2 bg-image-full aj-section-bg-color-darker">
  <!-- Features section-->
    <div class="container ">
        <div class="row gx-3">
          <div class="col-10">
            <h1>Avancerad sök</h1>
          </div>
          <div class="col-2 text-end">
            <a (click)="goBack()" class="gen-button gen-button-flat">
              <span class="text">Tillbaka</span>
            </a>

          </div>
        </div>
    </div>
</section>
<section class="py-1 bg-image-full aj-section-bg-color-darker" >
  <!-- Features section-->
    <div class="container my-5">
        <div class="row gx-3">
          <div class="d-none d-md-block col-lg-1 col-xl-3 mb-5 mb-lg-0 ">


          </div>
          <div class="col-12 col-lg-10 col-xl-6 mb-5 mb-lg-0 ">

            <div class="topblockContainer">
              <ng-container [formGroup]="advSearchForm">
              <div ngbDropdown class="aj-btn-group" >
                <button class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>{{searchdrpTitle}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngIf="DropdownMenu"  >
                  <button (click)="drpChange('Alla arrangemangstyper')" ngbDropdownItem>Alla arrangemangstyper</button>
                  <button (click)="drpChange('Besöksmål med resestöd')" ngbDropdownItem>Besöksmål med resestöd</button>
                  <button (click)="drpChange('Föreställning på turné')" ngbDropdownItem>Föreställning på turné</button>
                  <button (click)="drpChange('Skolbio')" ngbDropdownItem>Skolbio</button>
                  <button (click)="drpChange('Utställning på turné')" ngbDropdownItem>Utställning på turné</button>
                  <button (click)="drpChange('Workshops/Projekt')" ngbDropdownItem>Workshops/Projekt</button>
                </div>
                <div class="ng-autocomplete">
                  <ng-autocomplete
                    [data]="autocompletedata"
                    [searchKeyword]="keyword"
                    [customFilter] = autofilter()
                    (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)'
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate"
                    (inputFocused)='onFocused()'
                    #ngaoutoControll>
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.ansokningtitle + ' (' + item.ansokningutovare + ')'"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
                <button class="btn btn-success" (click)="formFreetextSearchClick()"  id="dropdownBasic1">SÖK</button>
              </div>

              <div class="srhKonstformBlock pt-3">
                <div class="btn-group btn-group-toggle">
                  <label class="btn btn-outline-secondary chkkonstform active" ngbButtonLabel>
                    <input  formControlName="alla" (click)="formKonstFormClick(0)" [ngClass]="{'vald': currfid == 0}" rel="0" (change)="onCheckboxChange($event,'alla')" ngbButton>Alla
                  </label>
                  <label class="btn btn-outline-secondary chkkonstform" ngbButtonLabel>
                    <input type="checkbox"  (click)="formKonstFormClick(12)" [ngClass]="{'vald': currfid == 12}" rel="12" ngbButton> Annan scenkonst
                  </label>
                  <label class="btn btn-outline-secondary chkkonstform" ngbButtonLabel>
                    <input type="checkbox" (click)="formKonstFormClick(2)" [ngClass]="{'vald': currfid == 2}" rel="2" ngbButton>Dans
                  </label>
                  <label class="btn btn-outline-secondary chkkonstform" ngbButtonLabel>
                    <input type="checkbox" (click)="formKonstFormClick(3)" [ngClass]="{'vald': currfid == 3}" rel="3" ngbButton>Film & media
                  </label>
                  <label class="btn btn-outline-secondary chkkonstform" ngbButtonLabel>
                    <input type="checkbox" (click)="formKonstFormClick(4)" [ngClass]="{'vald': currfid == 4}" rel="4" ngbButton>Konst, form & design
                  </label>
                  <label class="btn btn-outline-secondary chkkonstform" ngbButtonLabel>
                    <input type="checkbox" (click)="formKonstFormClick(4)" [ngClass]="{'vald': currfid == 4}" rel="4" ngbButton>Litteratur, berättande
                  </label>
                </div>
                <div class="btn-group btn-group-toggle pt-2">
                  <label class="btn btn-outline-secondary chkkonstform " ngbButtonLabel>
                    <input  formControlName="alla" (click)="formKonstFormClick(6)" [ngClass]="{'vald': currfid == 6}" rel="6"  (change)="onCheckboxChange($event,'alla')" ngbButton>Musik
                  </label>
                  <label class="btn btn-outline-secondary chkkonstform" ngbButtonLabel>
                    <input type="checkbox"  (click)="formKonstFormClick(12)" [ngClass]="{'vald': currfid == 12}" rel="12" ngbButton>Natur- och kulturarv
                  </label>
                  <label class="btn btn-outline-secondary chkkonstform" ngbButtonLabel>
                    <input type="checkbox" (click)="formKonstFormClick(7)" [ngClass]="{'vald': currfid == 7}" rel="7" ngbButton> Nycirkus/cirkus
                  </label>
                  <label class="btn btn-outline-secondary chkkonstform" ngbButtonLabel>
                    <input type="checkbox" (click)="formKonstFormClick(2)" [ngClass]="{'vald': currfid == 2}" rel="2" ngbButton> Science Center
                  </label>
                  <label class="btn btn-outline-secondary chkkonstform" ngbButtonLabel>
                    <input type="checkbox" (click)="formKonstFormClick(3)" [ngClass]="{'vald': currfid == 3}" rel="3" ngbButton> Slöjd
                  </label>
                  <label class="btn btn-outline-secondary chkkonstform" ngbButtonLabel>
                    <input type="checkbox" (click)="formKonstFormClick(4)" [ngClass]="{'vald': currfid == 4}" rel="4" ngbButton> Teater
                  </label>
                </div>
                <div class="btn-group btn-group-toggle mt-3">
                  <label class="btn btn-outline-secondary chkkonstform active" ngbButtonLabel>
                    <input type="checkbox" ngbButton>Alla
                  </label>
                  <label class="btn btn-outline-secondary chkkonstform" ngbButtonLabel>
                    <input type="checkbox"  ngbButton> 0-6 år
                  </label>
                  <label class="btn btn-outline-secondary chkkonstform" ngbButtonLabel>
                    <input type="checkbox"  ngbButton> 7-9 år
                  </label>
                  <label class="btn btn-outline-secondary chkkonstform" ngbButtonLabel>
                    <input type="checkbox"  ngbButton>10-12 år
                  </label>
                  <label class="btn btn-outline-secondary chkkonstform" ngbButtonLabel>
                    <input type="checkbox"  ngbButton> 13-15 år
                  </label>
                  <label class="btn btn-outline-secondary chkkonstform" ngbButtonLabel>
                    <input type="checkbox"  ngbButton> 16-19 år
                  </label>
                </div>
              </div>
              </ng-container>
            </div>
          </div>
          <div class="d-none d-md-block col-lg-1 col-xl-3 mb-5 mb-lg-0 ">
          </div>
        </div>
    </div>

</section>


<!-- Section-1 Start -->
<section class="gen-section-padding-3 aj-section-bg-color-dark">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
            <h2>Hittade arrangemang (<span *ngIf="ShowSpinner" class="spinner-border spinner-border-lg" role="status"> </span><span *ngIf="!ShowSpinner">{{filterMetadata?.count}}</span>)</h2>

            <app-kk-no-result *ngIf="showNoPostToShow"></app-kk-no-result>
              <!-- START paginering nummer block -->
              <div class="row kk_aj_productPagerblock" *ngIf="showNoPostToShow || filterMetadata.count >0 ">
                <div class="small-12 text-center ">
                  <pagination-controls
                  previousLabel="Föregående"
                  nextLabel="Nästa"
                  screenReaderPaginationLabel="Pagination"
                  screenReaderPageLabel="Sida"
                  screenReaderCurrentLabel="Du är på sida"
                  (pageChange)="pageChanged($event)">
                </pagination-controls>
                </div>
              </div>
              <!-- STOP paginering nummer block -->
              <div *ngIf="!showNoPostToShow" class="row ajmax-row-height">

                <!-- Item loop START-->
                  <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let item of mainPageData | customFilter:filterterm.konstform:filterterm.bokningsbar:filterterm.kostnad:filterterm.tid:filterterm.morklaggning:filterterm.takhojd:filterMetadata  | paginate: { itemsPerPage: showPageMax, currentPage: p}">
                    <div class="gen-carousel-movies-style-2 movie-grid style-2">
                      <div class="gen-movie-contain">
                        <div class="gen-movie-img text-center">
                          <a [routerLink]="['Arrangemang/', item.ansokningid]" id="goto{{item.ansokningid}}" (click)="setfilter()" class="img-fluid">
                            <img src="https://kulturkatalogenvast.org/Portals/0/kulturkatalogenArrImages/{{item.ansokningMediaImage.MediaUrl}}" alt="ansokningtitle">
                          </a>
                          <div class="gen-movie-add">
                              <div class="wpulike wpulike-heart">
                                <div class="wp_ulike_general_class wp_ulike_is_not_liked">
                                  <button type="button" class="wp_ulike_btn wp_ulike_put_image" title="Lägg till som i minneslistan"></button>
                                </div>
                              </div>
                          </div>
                          <div class="gen-movie-action">
                              <!-- <a href="single-movie.html" class="gen-button">
                                <i class="fa fa-play"></i>
                              </a> -->
                          </div>
                        </div>
                        <div class="gen-info-contain">
                          <div class="gen-movie-info">
                            <h3><a routerLink="/Arr/id/{{item.ansokningid}}" >{{item.ansokningtitle}}</a></h3>
                                <p>{{item.ansokningsubtitle}}</p>
                          </div>
                          <div class="gen-movie-meta-holder">
                            <p>Utövare: {{item.ansokningutovare}}<br>
                            Ålder: {{item.ansokningAgespan}} ÅR
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- Item loop STOPP-->

              </div>
          </div>
          <div class="col-lg-12 col-md-12 text-center">
             <!-- START paginering nummer block -->
          <div class="row kk_aj_productPagerblock" *ngIf="showNoPostToShow || filterMetadata.count >0 ">
            <div class="small-12 gen-pagination">

              <pagination-controls
              previousLabel="Föregående"
              nextLabel="Nästa"
              screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="Sida"
              screenReaderCurrentLabel="Du är på sida"
              (pageChange)="pageChanged($event)">
            </pagination-controls>
           </div>
        </div>
        <!-- STOP paginering nummer block -->
            <!-- <div class="gen-pagination">
                <nav aria-label="Page navigation">
                    <ul class="page-numbers">
                        <li><span aria-current="page" class="page-numbers current">1</span></li>
                        <li><a class="page-numbers" href="#">2</a></li>
                        <li><a class="page-numbers" href="#">3</a></li>
                        <li><a class="next page-numbers" href="#">Nästa</a></li>
                    </ul>
                </nav>
            </div> -->
        </div>
      </div>
  </div>
</section>
