





      <div class="card">
        <div class="row">

           <!-- Om bild -->
          <div class="col-sm-5" *ngIf="MediaExempelblock.MediaTyp == 1" >
            <img [src]=videoUrl />
          </div>
          <!-- Om film -->
          <div class="col-sm-5" *ngIf="MediaExempelblock.MediaTyp == 2" >
            <iframe width="auto" height="auto" [src]=videoUrl frameborder="0" allowfullscreen="true" style="max-width:100%;"></iframe>
          </div>
          <!-- Om ljud -->
          <div class="col-sm-5" *ngIf="MediaExempelblock.MediaTyp == 3" >
            <audio preload id="audio1" [src]=videoUrl controls="controls">Your browser does not support HTML5 Audio!</audio>
          </div>

          <div class="col-sm-7">
            <div class="card-block">
              <h3>{{MediaExempelblock.mediaTitle}}</h3>
              <p>{{MediaExempelblock.mediaBeskrivning}}</p>
            </div>
          </div>

        </div>
        </div>
