

      <a href="#" target="_blank" style="color: #666 !important">
        <div class="row">

          <!-- Om bild -->
          <div *ngIf="MediaExempelblock.MediaTyp == 1" class="medium-4 columns" >
            <img [src]=videoUrl />
          </div>

          <!-- Om film -->
          <div *ngIf="MediaExempelblock.MediaTyp == 2" class="medium-4 columns" >
            <iframe width="auto" height="auto" [src]=videoUrl frameborder="0" allowfullscreen="true" style="max-width:100%;"></iframe>
          </div>

          <!-- Om ljud -->
          <div *ngIf="MediaExempelblock.MediaTyp == 3" class="medium-4 columns" >
            <audio preload id="audio1" [src]=videoUrl controls="controls">Your browser does not support HTML5 Audio!</audio>
          </div>

          <div class="medium-8 columns">
            <div class="row">
              <div class="small-12 columns">
                <h2>{{MediaExempelblock.mediaTitle}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="medium-12 columns">
                <p>{{MediaExempelblock.mediaBeskrivning}}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
