
<carousel
[cellsToScroll]= "4"
[cellWidth] = "320"
[height]="360"

[autoplay]= false
[autoplayInterval]= "1000"
[lightDOM]=true
[margin]="20"
objectfit= "cover"
>
<div class="carousel-cell item" *ngFor="let itm of mainCaruselData.arrangemangslist">
  <a href="/Arrangemang/id/{{itm.arrID}}">
    <img
    src="https://kulturkatalogenvast.org/Portals/0/kulturkatalogenArrImages/{{itm.imageUrl}}"
    alt="{{itm.rubrik}}">
    <div class="textTopMarker">

    </div>
    <div class="textwrapper">
      <h2 class="">{{itm.rubrik}}</h2>
      <p class="">{{itm.underrubrik}}</p>
      <h3>Utövare: {{itm.organisation}}</h3>
      <h3>Ålder: {{itm.startyear}}-{{itm.stoppyear}}</h3>
    </div>
  </a>
</div>
</carousel>

