
 <div *ngIf="!mainCaruselData.ansokningar">

  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="gen-carousel-movies-style-2 movie-grid style-2">
          <div class="gen-movie-contain">
            <div class="gen-movie-img empty-carousel-List">
              <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

              <div class="gen-movie-add">
                  <div class="wpulike wpulike-heart">
                    <div class="wp_ulike_general_class wp_ulike_is_not_liked"><button
                          type="button" class="wp_ulike_btn wp_ulike_put_image"></button></div>
                  </div>
              </div>
              <div class="gen-movie-action">
                  <!-- <a href="single-movie.html" class="gen-button">
                    <i class="fa fa-play"></i>
                  </a> -->
              </div>
            </div>
            <div class="gen-info-contain">
              <div class="gen-movie-info">
                <h3>Laddar..</h3>
                <p></p>
              </div>
              <div class="gen-movie-meta-holder">
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
      <div class="gen-carousel-movies-style-2 movie-grid style-2">
        <div class="gen-movie-contain">
          <div class="gen-movie-img empty-carousel-List"  style="height: 226px;">
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

            <div class="gen-movie-add">
                <div class="wpulike wpulike-heart">
                  <div class="wp_ulike_general_class wp_ulike_is_not_liked"><button
                        type="button" class="wp_ulike_btn wp_ulike_put_image"></button></div>
                </div>
            </div>
            <div class="gen-movie-action">
                <!-- <a href="single-movie.html" class="gen-button">
                  <i class="fa fa-play"></i>
                </a> -->
            </div>
          </div>
          <div class="gen-info-contain">
            <div class="gen-movie-info">
              <h3>Laddar..</h3>
              <p></p>
            </div>
            <div class="gen-movie-meta-holder">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
      <div class="gen-carousel-movies-style-2 movie-grid style-2">
        <div class="gen-movie-contain">
          <div class="gen-movie-img empty-carousel-List" style="height: 226px;">
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

            <div class="gen-movie-add">
                <div class="wpulike wpulike-heart">
                  <div class="wp_ulike_general_class wp_ulike_is_not_liked"><button
                        type="button" class="wp_ulike_btn wp_ulike_put_image"></button></div>
                </div>
            </div>
            <div class="gen-movie-action">
                <!-- <a href="single-movie.html" class="gen-button">
                  <i class="fa fa-play"></i>
                </a> -->
            </div>
          </div>
          <div class="gen-info-contain">
            <div class="gen-movie-info">
              <h3>Laddar..</h3>
              <p></p>
            </div>
            <div class="gen-movie-meta-holder">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
      <div class="gen-carousel-movies-style-2 movie-grid style-2">
        <div class="gen-movie-contain">
          <div class="gen-movie-img empty-carousel-List" style="height: 226px;">
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

            <div class="gen-movie-add">
                <div class="wpulike wpulike-heart">
                  <div class="wp_ulike_general_class wp_ulike_is_not_liked"><button
                        type="button" class="wp_ulike_btn wp_ulike_put_image"></button></div>
                </div>
            </div>
            <div class="gen-movie-action">
                <!-- <a href="single-movie.html" class="gen-button">
                  <i class="fa fa-play"></i>
                </a> -->
            </div>
          </div>
          <div class="gen-info-contain">
            <div class="gen-movie-info">
              <h3>Laddar..</h3>
              <p></p>
            </div>
            <div class="gen-movie-meta-holder">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
  <carousel
    [cellsToScroll]= "2"
    [cellWidth] = "400"
    [height]="380"
    [arrowsOutside]="false"
    [autoplay]= false
    [autoplayInterval]= "1000"
    [lightDOM]=true
    [margin]="20"
    objectfit= "cover"
    [loop]="true">

    <div class=" carousel-cell item" *ngFor="let itm of mainCaruselData.ansokningar">
      <div class="movie type-movie status-publish has-post-thumbnail hentry movie_genre-action movie_genre-adventure movie_genre-drama">
        <div class="gen-carousel-movies-style-2 movie-grid style-2">

          <div class="gen-movie-contain">
            <a (click)="loadPageData(itm.ansokningid)" title="{{itm.ansokningtitle}}" >
              <div class="gen-movie-img">
                <img src="https://kulturkatalogenvast.org/Portals/0/kulturkatalogenArrImages/{{itm.ansokningMediaImage.mediaUrl}}" alt="{{itm.rubrik}}">
              </div>
            </a>
              <div class="gen-movie-add">
                  <div class="wpulike wpulike-heart">
                    <div class="wp_ulike_general_class wp_ulike_is_not_liked"><button (click)="addToFavorit(itm)"
                          type="button" class="wp_ulike_btn wp_ulike_put_image" id="minnesID_{{itm.ansokningid}}" title="Lägg till i minneslistan"><i [ngClass]="setFavoClass(itm.ansokningid) ? 'fa-check' : 'fa-plus'" class="fa  ajfavoritIconRing" aria-hidden="true"></i></button></div>
                  </div>
              </div>
              <div class="gen-movie-action">
                  <!-- <a href="single-movie.html" class="gen-button">
                    <i class="fa fa-play"></i>
                  </a> -->
              </div>

              <div class="gen-info-contain">
                <div class="gen-movie-info">
                  <a (click)="loadPageData(itm.ansokningid)" title="{{itm.ansokningtitle}}" >
                  <h3>{{itm.ansokningtitle}}</h3>
                  <p >{{itm.ansokningsubtitle}} &nbsp;</p>
                  </a>
                </div>
                <div class="gen-movie-meta-holder">
                  <a (click)="loadPageData(itm.ansokningid)" title="{{itm.ansokningtitle}}" >
                 <p>Utövare:{{itm.ansokningutovare}}<br>
                  Ålder: {{itm.ansokningAgespan}} år
                  </p>
                  </a>
                </div>
              </div>
          </div>

        </div>
      </div>
    <!-- #post-## -->
  </div>

  </carousel>
